@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

/* Estilos globais para o preview */
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}